@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-3xl;
  }

  a {
  }
}

body,
html {
  height: 100%; /* Ensure body and html take up full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

body {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
